*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
:root{
   --primary: #fff;
   --secondary : rgb(81, 17, 17);
--access: rgb(255, 255, 255);
}
header{
   display: flex;
   padding: 10px;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   background-color: var(--secondary);
}
header .logo{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px;
   width: 150px;
   box-shadow: inset 10px 10px 20px, inset -10px -10px 20px;
   border-radius: 20px;
   height: 150px;
   background-color: transparent;
   position: relative;
   top: 0;
   left: 30px;
}
header .text{
   display: flex;
   justify-content: center;
align-items: center;
color: var(--primary);
padding: 10px;
}
header ul li {
   display: inline;
   list-style: none;
   padding: 10px;
   justify-content: center;
   align-items: center;
   text-align: center;
}
header ul li a{
   color: var(--primary);
   text-decoration: none;
}